html,
body {
  margin: 0;
  padding: 0;
}

#paperCanvas {
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  pointer-events: none;
  z-index: 1;
  top: 0;
  left: 0;
}

#matter {
  width: 100vw;
  height: 100vh;
}

#svgs {
  display: none;
}
